.custom-save-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  position: absolute;
  background-color: rgb(33,33,33);
  color: white;
  border: none;
  font-size: 20px;
  width: 40px;
  height: 30px;
  box-shadow: none;
  cursor: pointer;
  z-index: 10;
}

.custom-save-icon {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
